<section data-ng-controller="RequestsController" data-ng-init="init()">
  <div class="page-header">
    <h1>{{title}}</h1>
  </div>

  <ul class="list-group">
    <li class="list-group-item" data-ng-repeat="request in requests | orderBy: ['-_id.day','-_id.month','-_id.year']">
      {{request._id.day}}.{{request._id.month}}.{{request._id.year}}
      <span class="badge">Requests: {{request.total}}</span>
      <!--<span ng-if="$first" class="glyphicon glyphicon-play btn-md" ng-click="startRequest()"></span>-->
    </li>
  </ul>

</section>
