<section data-ng-controller="RecordsController" data-ng-init="find()">
  <div class="page-header">
    <h1>{{title}}</h1>
    <form name="form" novalidate>
      <formly-form model="searchText" fields="fields" form="form">
      </formly-form>
    </form>
  </div>


  <div class="list-group">
    <a data-ng-repeat="keyword in keywords | filter: searchText.search | filter: byRange('value', searchText.rankRanges.min, searchText.rankRanges.max)"
       data-ui-sref="records.view({keyword: keyword._id})" class="list-group-item" ng-class="keyword.value < 0 ? 'list-group-item-danger' : keyword.value == 1 ? 'list-group-item-success' : keyword.value > 8 ? 'list-group-item-warning' : 'list-group-item-default'">
      <span data-ng-if="keyword.value > 0" class="badge">{{keyword.value}}</span>
      <small>
        <span>{{keyword._id}}</span>
      </small>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="keywords.$resolved && !keywords.length">
    No results yet, why don't you launch your bot?
  </div>
</section>
